@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');

/* [X] Use the 'Lato' font family at 18px throughout the body of the document, and cover the background with the './img/map-bg.jpg' image. */

body {
    background-image: url(./img/map-bg.jpg);
    font-family: "Lato", sans-serif;
    font-size: 18px;
}

nav {
    font-family: sans-serif;
    font-size: 10px;
}

#main {
    width: 900px;
    margin: 10px auto;
}


/* [X] Use the 'Supermercado One' font at 45px (colored #5d4037) for the restaurant name. */

.rest-name {
    font-family: 'Supermercado One', cursive;
    font-size: 45px;
    color: #5d4037
}


/* [X] Set the separator between the columns (the "column-rule") to be 2px dashed rosybrown. */

#menu {
    column-rule: 2px dashed rosybrown;
    columns: 400px 2;
    column-gap: 100px;
}

section {
    margin-bottom: 50px;
}


/* [X] Show each of the section headings of the menu (e.g. "Starters") in small caps, colored #6d4c41. */

h2 {
    font-variant: small-caps;
    margin: 0;
}


/* [X] Make the name of each menu item appear in bold in a 20px size. */

dt {
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 12px 0;
    display: flex;
}

.details {
    order: 1;
}


/*[X] Show the price of each item in a large font, in the color named 'firebrick' */

.price {
    font-size: large;
    color: firebrick;
    order: 2;
    padding-left: 10px;
}


/*[X] Draw a 2px dashed rosybrown border around the address/footer */

address {
    border: 2px dashed rosybrown;
    padding: 10px;
}